/* You can add global styles to this file, and also import other style files */
$primary: #2D804E;
$secondary: black;
$my-color: #2D804E;

@import "../node_modules/bootstrap-scss//bootstrap.scss";
@import "./main.scss";