<div class="centered-content">
    <div class="modal-box">
        <div>
            <div class="category-box d-flex">
                <h1 class="title" *ngIf="categories.length>0"> 
                    <p><b>{{categories[categoryIndex].title}}</b></p>   
                </h1>
            </div>
            <div class="question-box" *ngIf="questions.length>0">
                <h5  *ngIf="questions[questionIndex]">{{questions[questionIndex].title}}
                </h5>  
            </div>
            
            <div class="displayFlex row ">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 center-el">
                            <input type="radio" value="strongly agree" [(ngModel)]="userResponse" name="options" (click)="submitAnswer('Strongly Agree')">
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                Strongly Agree
                            </label>
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                🙂
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 center-el">
                            <input type="radio" value="agree" [(ngModel)]="userResponse" name="options" (click)="submitAnswer('Agree')">
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                Agree
                            </label>
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                🙂
                            </label>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 center-el">
                            <input type="radio" value="neutral" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Neutral')">
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                Neutral
                            </label>
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                😐
                            </label>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-2">
                    <div class="row">
                        <div class="col-sm-12 center-el">
                            <input type="radio" value="disagree" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Disagree')">
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                Disagree
                            </label>
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                😟
                            </label>
                        </div>
                    </div>
                </div>
                <div  class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 center-el">
                            <input type="radio" value="strongly disagree" [(ngModel)]="userResponse"  name="options" (click)="submitAnswer('Strongly Disagree')">
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                Strongly Disagree
                            </label>
                        </div>
                        <div class="col-sm-12 center-el">
                            <label class="radio-inline">
                                😩
                            </label>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- <div style="width: 100% !important"> -->
        <div>    
            <!-- <div class="footer"> -->
            <div>  
                <p></p>
                <!-- <button class="btn btn-primary white-text button" *ngIf="!checkSubmissions() && nextButtonCheck"  (click)="nextQuestion()">Previous</button> -->
                <button class="btn btn-primary white-text button" *ngIf="!checkSubmissions() && nextButtonCheck"  (click)="nextQuestion()">Next</button>
            </div>
        </div>
        <button class="btn btn-primary white-text button" *ngIf="checkSubmissions() && nextButtonCheck" (click)="sendResponses()">Submit</button>
    </div>
</div>
